
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color:  #393E46;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: flex-direction flex-wrap;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 25vh;
    color: #4ECCA3;
}

img{
    margin: 15px;
}

img:hover{
    transform: rotateZ(360deg);
    transition: 0.5s;
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

button{
    padding: 16px;
    border-radius: 50%;
    color: #000;
    background-color:#bdc6c9e1;
    border: 2px solid #e8e8e8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

button:hover{
    color:antiquewhite;
    background-color: #f4511e;
    opacity: 0.5;
    transform: rotateZ(360deg);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 5px #999;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
}